* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: pink;
  background-color: #000;
  max-width: 80em;
  margin: 0 auto;
}

main {
  padding: 2rem;
  position: relative;
  z-index: 5;
}
#search {
  position: relative;
  z-index: 5;
}

.guncss:hover {
  cursor: crosshair;
}

.guncss a:hover {
  cursor: crosshair;
}

.image-wrapper {
	position: absolute;
	transform: translate(-50%, -50%) scale(.3);
  opacity: 1;
  z-index: 7;
  pointer-events: none;
}

.image-wrapper.fade-out {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

/* #explosion {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  display: none;
  animation: explode .2s ease-out;
  z-index: 6;
}

@keyframes explode {
  0% {
transform-origin: center;
transform: scaleX(0) scaleY(0);
  }
  100%{
    transform-origin: center;
    transform: scaleX(1) scaleY(1);
  }
} */

section {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border: 10px rgba(86, 212, 69, 0.6) solid;
  box-shadow: 0px 0px 15px 0px rgba(86, 212, 69,1);
  overflow: hidden;
  background-image: linear-gradient(#241909, #2c1e0b 220px, limegreen 220px, limegreen 222px, limegreen 222px, limegreen 228px, limegreen 228px, limegreen 230px);
  background-size: 10px 230px;
  box-shadow: 0px 1000px 0px 400px #7a7668;
}

section article {
  height: 200px;
  width: 40px;
  float: left;
  color: white;
  font-size: 0.9em;
  font-family: Verdana, sans-serif;
  margin-bottom: 10px;
  margin-top: 20px;
  transition: transform 0.4s ease;
}

section h2 {
  padding: 0;
  font-size: 1em;
  transform-origin: 0% 0%;
  transform: rotate(0.25turn) translateY(-35px);
  width: 170px;
}

.book-green {
  background-color: darkgreen;
  border-left: 2px solid #007800;
  border-right: 2px solid #005000;
}
.book-blue{
  background-color: #0c347d;
  border-left: 2px solid #0e3c90;
  border-right: 2px solid #0a2c6a;
}
.book-brown {
  background-color: #54290c;
  border-left: 2px solid #66320f;
  border-right: 2px solid #422009;
}
.book-red {
  background-color: #ff1212;
  border-left: 2px solid #ff8080;
  border-right: 2px solid#ff8080;
  color: black;
}

article h2 {
  color: #fff;
}

section article img {
  height: 250px;
}

/* https://codepen.io/davidivanovic22/pen/ZEGevPE */


#thumb {
  height: 250px;
}
.detailed {
	width: 50%;
	margin: auto;
	padding: 1em;
	background-color: lightgrey;
	color: #000;
	text-align: center;
}
.book-big-tilted,
.book-tilted {
  float: left;
  width: 74px;
}

article:hover {
  transform: scale(1.05);
}

.book-tilted > article {
  transform: translateY(-3px) translateX(15px) rotate(9deg) ;
}
.book-big-tilted > article {
  transform: translateY(-10px) translateX(15px) rotate(15deg) ;
}

.book-tilted:hover > article{
  transform: unset;
}

@import "susy";
 @import "compass/reset";
 .stars, .twinkling, .clouds {
	 position: absolute;
	 display: block;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 width: 100%;
	 height: 100%;
}
 .stars {
	 z-index: 0;
	 background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}
 .twinkling {
	 z-index: 1;
	 background: transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	 animation: move-twink-back 200s linear infinite;
}
 .clouds {
	 z-index: 2;
	 background: transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	 animation: move-clouds-back 200s linear infinite;
}
 @keyframes move-twink-back {
	 from {
		 background-position: 0 0;
	}
	 to {
		 background-position: -10000px 5000px;
	}
}
 @keyframes move-clouds-back {
	 from {
		 background-position: 0 0;
	}
	 to {
		 background-position: 10000px 0;
	}
}
 